<div class="row">
    <div class="form-centered">
        <div class="pay-title">
            <p>Id : {{id}} - <spn class="underlined-title">{{name}}</spn><p>
        </div>
        <div class="output-table">
            <table>
                <thead>
                    <tr>
                        <th>Mês</th>
                        <th>Data Prev.</th>
                        <th>A Pagar (R$)</th>
                        <th>Data Pagto</th>
                        <th>Valor Pago (R$)</th>
                    </tr>
                </thead>
                <tbody>
                    {{# each results}}
                        <tr>
                            <td>{{month}}</td>
                            <td class = "table-value">{{dateDue}}</td>
                            <td class = "table-value">{{valueDue}}</td>
                            <td class = "table-value">{{datePaid}}</td>
                            <td class = "table-value">{{valuePaid}}</td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="table-value">{{totalPayment}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div>
            <a href="/payment/update/{{id}}/{{name}}" class="btn">Lançar Pagamento</a>
        </div>
    </div>
</div>

